
    body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    color: #17a335a1;
}

header {
    background-color: #17a335a1;
    color: #fff;
    text-align: center;
    padding: 20px;
}

section {
    padding: 20px;
}

h2 {
    color: #333;
}

p {
    color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.nav-dark {
    background-color: #333;
    color: #fff;
    text-align: center;
    position: relative;
}

.nav-dark ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-dark ul li {
    display: inline;
}

.nav-dark a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-dark ul {
        display: none;
    }

    .nav-dark ul.show {
        display: block;
    }

    .menu-toggle {
        display: block;
    }
}
@media (max-width: 768px) {
    .nav-dark ul {
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        width: 100%;
        display: none;
        text-align: center;
    }

    .nav-dark ul.show {
        display: block;
    }

    .nav-dark a {
        display: block;
        padding: 15px;
    }
}


.scroll-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    background-color: #eee;
    border: 2px solid #ccc;
}

.tank {
    flex: 0 0 auto;
    width: 400px;
    padding: 10px;
    margin-right: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.vehicle-image {
            width: 200px; 
            height: 150px; 
            object-fit: cover; 
        }
button {
            background-color: #0073e6; /* Default button color */
            color: #fff; /* Text color */
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            transition: background-color 0.3s; /* Transition for background color change */
        }
button:hover {
            background-color: #005aad; /* Color when hovered */
        }